<main id="reset_password">
  <app-figure></app-figure>
  <div class="p-d-flex p-justify-center p-align-center vh-80">
    <p-card class="p-text-center"
            header="Revisa tu correo y sigue las instrucciones"
            subheader="Te enviaremos un enlace a tu correo para que puedas cambiar la contraseña">
      <form [formGroup]="form" (ngSubmit)="resetPassword()">
        <div class="p-fluid">
          <div class="p-field">
            <input pInputText type="email" placeholder="Tu email" id="email" formControlName="email">
            <small class="p-error" *ngIf="emailInvalid">
              <li class="error">Correo Electrónico Inválido</li>
            </small>
            <small class="p-error" *ngIf="emailIsEmpty">
              <li class="error">Correo Electrónico Requerido</li>
            </small>
          </div>
          <button pButton
                  pRipple
                  type="submit"
                  class="btn-comfeco p-mb-3"
                  label="Cambiar mi contraseña">
          </button>
          <p-button type="button"
                    styleClass="p-button-text"
                    icon="pi pi-angle-left"
                    label="Regresar a inicio de sesión"
                    routerLink="/login">
          </p-button>
        </div>
      </form>
      <ng-template pTemplate="footer">
        <div class="p-fluid">
          <div class="account_footer">
            <small>¿Aún no tienes una cuenta en Comfeco?</small>
          </div>
          <div class="account_link p-mt-3">
            <button pButton
                    pRipple
                    type="button"
                    class="p-button-outlined"
                    label="Regístrate"
                    routerLink="/register">
            </button>
          </div>
        </div>
      </ng-template>
    </p-card>
  </div>
</main>
