.header {
  height: 70px;
  width: 100%;
  padding: 0 3.5rem;
  display: flex;
  justify-content: space-between;
}

.header.topbar {
  background: #ffffff;
  box-shadow: 0 0 4px rgba(0, 0, 0, .25);
  border-bottom: 1px solid #dee2e6;
  align-content: center;
}

.header .logo img {
  height: 70%;
  object-fit: cover;
  margin: 10px 0;
}

.topbar .topbar-menu {
  list-style-type: none;
  height: 100%;
  display: flex;
}

.topbar-menu > li {
  height: 70px;
  line-height: 70px;
}

.topbar-menu > li > a {
  text-decoration: none;
  min-width: 120px;
  font-size: 16px;
  display: block;
  text-align: center;
  user-select: none;
  line-height: 68px;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color .2s;
  cursor: pointer;
  color: #495057;
}

.topbar-menu > li > a:hover {
  border-bottom-color: var(--color-palette-primary);
}

.active {
  border-bottom-color: var(--color-palette-primary) !important;
}

.user-profile {
  height: 100%;
  margin-left: auto;
}

.user-profile > a {
  margin: 0 6px;
  text-decoration: none;
}

.user-profile .profile-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.profile-info {
  margin-left: 7px;
}

.profile-info > h6 {
  margin: 0;
}

.profile-info > span {
  display: block;
  font-size: 12px;
  font-weight: normal;
}

.notification {
  font-size: 18px;
  margin-right: 1rem;
  cursor: pointer;
}

:host ::ng-deep .p-menu .p-menuitem-icon {
  margin-right: 1rem;
}

:host ::ng-deep .p-menu.p-menu-overlay {
  top: 70px !important;
}


@media screen and (max-width: 75em) {

  .topbar {
    height: 110px;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    padding: 0;
  }

  .logo {
    height: 70px;
    padding-left: 12px;
  }

  .logo > img {
    height: 48px;
  }

  .topbar .topbar-menu {
    border-bottom: 1px solid #E8F1F8;
    height: 48px;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .topbar-menu > li {
    height: 40px;
    line-height: 40px;
    width: 25%;
  }

  .topbar-menu > li > a {
    padding-bottom: 0;
    height: 40px;
    line-height: 38px;
    width: 100%;
    font-size: 12px;
    font-weight: 600;
    min-width: auto;
    text-overflow: ellipsis;
  }

  .user-profile {
    position: absolute;
    top: 15px;
    right: 8px;
    height: auto;
    width: auto;
    padding-right: 12px;
    font-size: 12px;
  }

  :host ::ng-deep .p-menu.p-menu-overlay {
    top: 110px !important;
    left: 5%;
    position: fixed;
    display: block !important;
    width: 275px;
  }
}

@media screen and (max-width: 522px) {
  .creators {
    width: calc(30% + 30%) !important
  }

  .profile-info {
    display: none;
  }

  :host ::ng-deep .p-menu.p-menu-overlay {
    top: 104px !important;
    position: fixed;
    display: block !important;
    width: 100% !important;
    z-index: 3;
  }
}
