<header class="header {{classTopBar}}">
  <span class="logo" style="width: 20%">
    <img src="assets/img/comfeco.png" alt="logo">
  </span>
  <ng-template [ngIf]="showDashboard">
    <ul class="topbar-menu">
      <li class="topbar-submenu">
        <a [routerLink]="['/dashboard']" routerLinkActive="active">Inicio</a>
      </li>
      <li class="topbar-submenu">
        <a routerLink="comunidades" routerLinkActive="active">Comunidades</a>
      </li>
      <li class="topbar-submenu">
        <a routerLink="talleres" routerLinkActive="active">Talleres</a>
      </li>
      <li class="topbar-submenu creators">
        <a routerLink="creadores" routerLinkActive="active">Creadores de contenido</a>
      </li>
    </ul>
    <div class="user-profile p-d-flex p-align-center p-jc-center">
      <i class="pi pi-bell notification" pBadge severity="danger"></i>
      <div class="p-d-flex p-align-center p-jc-center cursor" (click)="menu.toggle($event)">
        <img src="assets/img/avatar.png" alt="Avatar" class="profile-image">
        <div class="profile-info">
          <h6>Developer080</h6>
          <span>Backend Developer</span>
        </div>
        <i class="pi pi-angle-down p-ml-3"></i>
      </div>
      <p-menu #menu [popup]="true" [model]="items"></p-menu>
    </div>
  </ng-template>

  <ng-template [ngIf]="showBackLoginBtn">
    <div class="p-d-flex p-align-center">
      <p-button type="button"
                styleClass="btn-comfeco p-button-lg"
                label="Iniciar Sesión"
                [routerLink]="['/login']">
      </p-button>
    </div>
  </ng-template>
</header>
