header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 10vh;
}

header img {
  margin: 20px 0;
}

@media screen and (max-width: 500px) {
  header {
    flex-direction: column;
  }
}
