.header {
  height: 70px;
  width: 100%;
  padding: 0 3.5rem;
  display: flex;
  justify-content: space-between;
}

.header.topbar {
  background: #ffffff;
  border-bottom: 1px solid #dee2e6;
  align-content: center;
}

.header .logo img {
  height: 70%;
  object-fit: cover;
  margin: 10px 0;
}

.topbar .topbar-menu {
  list-style-type: none;
  height: 100%;
  display: flex;
  transition: 0.2s all;
  flex-wrap: nowrap;
  overflow-y: hidden;
}

.topbar-menu .topbar-submenu {
  height: 70px;
  line-height: 70px;
  display: inline-block
}

.topbar-menu .topbar-submenu a {
  text-decoration: none;
  min-width: 120px;
  font-size: 16px;
  display: block;
  text-align: center;
  user-select: none;
  line-height: 68px;
  border-bottom: 3px solid transparent;
  transition: border-bottom-color .2s;
  cursor: pointer;
  color: #495057;
}

.topbar-menu .topbar-submenu a:hover {
  border-bottom-color: var(--color-palette-primary);
}

.active {
  border-bottom-color: var(--color-palette-primary) !important;
}

.user-profile {
  height: 100%;
  margin-left: auto;
}

.user-profile > a {
  margin: 0 6px;
  text-decoration: none;
}

.user-profile .profile-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.profile-info {
  margin-left: 7px;
  color: #606164;
}

.profile-info > h6 {
  margin: 0;
}

.profile-info > span {
  display: block;
  font-size: 12px;
  font-weight: normal;
}

.notification {
  font-size: 18px;
  margin-right: 1rem;
  cursor: pointer;
}

:host ::ng-deep .p-menu .p-menuitem-icon {
  margin-right: 1rem;
}

:host ::ng-deep .p-menu.p-menu-overlay {
  top: 70px !important;
}


@media screen and (max-width: 75em) {
  .menu {
    width: 100%;
  }

  .topbar {
    height: 110px;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    padding: 0;
  }

  .logo {
    height: 70px;
    padding-left: 12px;
  }

  .logo > img {
    height: 48px;
  }

  .topbar .topbar-menu {
    border-bottom: 1px solid #E8F1F8;
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
  }


  .topbar-menu .topbar-submenu a {
    padding-bottom: 0;
    height: 40px;
    line-height: 38px;
    font-size: 12px;
    font-weight: 600;
    text-overflow: ellipsis;
  }


  .user-profile {
    position: absolute;
    top: 15px;
    right: 8px;
    height: auto;
    width: auto;
    padding-right: 12px;
    font-size: 12px;
  }

  :host ::ng-deep .p-menu.p-menu-overlay {
    top: 110px !important;
    left: 5%;
    position: fixed;
    display: block !important;
    width: 275px;
  }
}

@media screen and (max-width: 595px) {
  .menu {
    position: relative;
    white-space: nowrap;
    display: block !important;
    flex-wrap: nowrap;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch
  }

  .topbar-menu .topbar-submenu {
    padding: 0 1.5em 0 0;
  }

  .topbar-menu::after {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(90deg, transparent 0%, #e9e9e9 50%);
    color: #86868a;
    display: flex;
    -webkit-box-pack: end;
    font-family: primeicons;
    align-items: center;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    justify-content: flex-end;
    width: 25px;
    -webkit-font-smoothing: antialiased;
    content: "\e932";
  }

  .profile-info {
    display: none;
  }

  .topbar .topbar-menu {
    justify-content: normal;
    align-content: normal;
    flex-wrap: nowrap;
    white-space: nowrap;
    max-height: 45px;
    transition: 0.2s all;
    will-change: max-height;
  }

  :host ::ng-deep .p-menu.p-menu-overlay {
    top: 104px !important;
    position: fixed;
    display: block !important;
    width: 100% !important;
    z-index: 3;
  }
}
