<div class="p-grid">
  <div class="p-col-12 p-lg-3 p-xl-fixed">
    <p-card header="Mi grupo">
      <div class="p-text-right">
        <a href="" class="text-decoration-none">Ir a mi grupo</a>
      </div>
      <div class="p-pt-3 nombre" >
        Nombre del grupo
        <img src="https://i.imgur.com/bcyviLp.png" alt="" class="img-js">
      </div>
      <app-my-group></app-my-group>
    </p-card>
  </div>
  <div class="p-col-12 p-lg-9">
    <h2>Grupos</h2>
    <div>
      <app-groups-available></app-groups-available>
    </div>
  </div>
</div>
