<div class="content">
  <h1 class="content_title">
    Bienvenidos a Community Fest and Code
  </h1>
  <h4 class="content_subtitle text-muted">
    ¡Conoce gente,aprende y gana!
  </h4>
  <p class="content_text p-mt-5 p-text-left">
    La próxima edición regresa en el 2022, en la cual se planea involucrar a todos los programadores independiente
    del area de conocimiento que se encuentre, todo con un mismo proposito,aprender en comunidad.
  </p>
</div>
<div class="carousel p-mt-6">
  <app-carousel></app-carousel>
</div>
<div class="clock">
  <h4>Preparate lo bueno esta por venir</h4>

  <app-clock></app-clock>
</div>
