.p-tabview .p-tabview-panels{
    box-sizing: border-box;
}

.p-tabview .p-tabview-panels{
    background: #181818;
    color: #ffff;
    padding: 0 1.5em;
}

.content{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.titulo{
    text-align: center;
    font-size: 2em;
}

.contact-wrapper{
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper > * {
    padding: 1em;
}


.contact-form form .info1{
    display: grid;
    grid-template-columns: 50% 50%;
}

.contact-form form .info2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}

.contact-form form .password{
    display: grid;
    grid-template-columns: 50% 50%;
}

.contact-form form .links{

    display: grid;
    padding: 1em;
    grid-template-columns: 2fr 2fr ;
}

.contact-form form .block{
  grid-column: 1 /3;
}

.contact-form form .button{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.contact-form form .button{

    grid-column: 1 /5;
}
.contact-form form{
    margin: 0;
    padding: 1em;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea{
    width: 100%;
    padding: .5em;
}

.p-inputgroup > .p-component, .p-inputgroup > .p-float-label > .p-component {
    border-radius: 0.2em;
    margin: 0.5em;
}





.p-component, .p-component * {
    box-sizing: border-box;
}
img, svg {
    position: relative;
    left: 35%;
    vertical-align: 50px;
    border-radius: 50%;
    width: 30%;
}

.contact-form form .button {
    overflow: hidden;
    position: relative;
    left: 57%;
}


