input[type="file"] {
  display: none;
}

h5 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  line-height: 30px;
}


.title {
  margin-bottom: 12px;
}

.avatar {
  text-align: center;
  margin-bottom: 20px;
}

.avatar img {
  border-radius: 50%;
  width: 240px;
  object-fit: cover;
  margin-bottom: 12px;
}

:host ::ng-deep .p-inputgroup-addon:not(.not-padding) {
  padding-right: 1.2rem !important;
}
