main{
  /* padding: 10px 0px; */
  overflow: hidden;
  position: relative;
  z-index: 100;
  min-width: 90vw;
}
.text-logo {
  color: var(--color-palette-primary);
  font-weight: bold;
}

.content-form {
  min-width: 30rem;
  padding: 50px 10px;
}

.header_form h1 {
  font-size: 1.85rem;
  font-weight: 600;
  line-height: 1.4;
}

.header_form p {
  color: #6c757d !important;
}

.header_form a, .input-label-secondary {
  color: var(--color-palette-primary);
  text-decoration: none;
}

.header_form a:hover, .input-label-secondary {
  color: #4e007e !important;
}

.input-label-secondary {
  font-size: .8125rem;
}

.p-button {
  font-size: 1.1rem !important;
  width: 100%;
}

.p-button.p-button-text.p-button-plain:hover {
  color: #0052ea !important;
}

.bg-img-hero {
  margin: 0px !important;
  height: 32rem;
  background: linear-gradient(90deg, rgba(82, 30, 135, 0.8) 0%,
  rgba(102, 28, 137, 0.8) 9.87%,
  rgba(138, 23, 140, 0.8) 30.04%,
  rgba(151, 43, 123, 0.8) 36.71%,
  rgba(189, 101, 73, 0.8) 58.41%,
  rgba(217, 144, 37, 0.8) 76.96%,
  rgba(235, 170, 14, 0.8) 91.4%,
  rgba(241, 180, 6, 0.8) 99.97%);
}

.bg-img-hero {
  z-index: -10000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  margin-top: 5rem;
}

.left-0 {
  left: 0 !important;
}

.right-0 {
  right: 0 !important;
}

.top-0 {
  top: 0 !important;
}

.bottom-0 {
  bottom: 0 !important;
}

figure {
  margin-bottom: 0;
}

/* .min-vh-90 {
  min-height: 90vh !important;
} */

:host ::ng-deep .p-card {
  border-radius: 0.75rem !important;
}

:host ::ng-deep .p-card-body {
  padding: 2rem 2rem !important;
}

.btn-icon img {
  width: 20px;
}

.btn-social {
  width: 100%;
  display: block;
  background-color: transparent;
  color: #273444;
  border: 2px solid #e2e8f0;
  padding: .75rem 1.75rem;
}


.card-form{
  margin-bottom: 15px !important;
  overflow: hidden !important;
}

@media screen and (max-width: 760px){
  .content-form {
    min-width: 0px;
  }
}