.countdown-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.countdown-container .time-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 10px;
}

.countdown-container .time-container .date {
  font-size: 10rem;
  background: linear-gradient(var(--background-gradient-comfeco));
  background-clip: text;
  color: transparent;
  font-weight: bold;
}
.countdown-container .time-container .date-text {
  font-size: 25px;
  font-weight: bold;
}

.countdown-container-movil {
  align-items: center;
  display: none;
  justify-content: center;
}

.countdown-container-movil .time-container-movil {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 150px;
  font-size: 1.5rem;
  background: linear-gradient(var(--background-gradient-comfeco));
  color: #f2f2f2;
  border-radius: 10px;
  padding: 0 10px;
}

@media screen and (max-width: 950px) {
  .countdown-container {
    flex-wrap: wrap;
  }
  .countdown-container .time-container .date {
    font-size: 45px;
  }

  .countdown-container .time-container .date-text {
    font-size: 15px;
    font-weight: bold;
  }
}


@media screen and (max-width: 650px) {
  .countdown-container {
    display: none;
  }

  .countdown-container-movil {
    display: flex;
  }
}
