
.countdown-container{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.countdown-container .time-container{
    align-items: center;
    background: #fff;
    border-radius: 25px;
    box-shadow: 1px 2px 4px rgba(0,0,0, .2);
    color: #333;
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content:center;
    overflow: hidden;
    padding: 10px;
    width: 20%;
}

.countdown-container .time-container .date{
    font-size: 60px;
    background: linear-gradient(var(--background-gradient-comfeco));
    background-clip: text;
    color: transparent;
}

hr{
    background: #000;
    width: 90%;
    height: 1px;
}

.countdown-container .time-container .date-text{
    font-size: 25px;
    font-style: italic;
}

@media screen and (max-width: 850px){
    .countdown-container .time-container .date{
        font-size: 25px;
    }
    
    .countdown-container .time-container .date-text{
        font-size: 15px;
        font-style: italic;
    }
}

.countdown-container-movil{
    align-items: center;
    display: none;
    justify-content: center;
}

.countdown-container-movil .time-container-movil{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 150px;
    font-size: 15px;
    background: linear-gradient(var(--background-gradient-comfeco));
    color: #c2c2c2;
    border-radius: 5px;
    padding: 0px 10px;
}

@media screen and (max-width: 650px){
    .countdown-container{
        display:none;
    }
    .countdown-container-movil{
        display: flex;
    }
}