

<div class="countdown-container">
    <div class="time-container">
        <div class="date">
            350
        </div>
        <hr>
        <div class="date-text">
            Dias
        </div>
    </div>
    <div class="time-container">
        <div class="date">
            350
        </div>
        <hr>
        <div class="date-text">
            Horas
        </div>
    </div>
    <div class="time-container">
        <div class="date">
            350
        </div>
        <hr>
        <div class="date-text">
            Minutos
        </div>
    </div>
    <div class="time-container">
        <div class="date">
            350
        </div>
        <hr>
        <div class="date-text">
            Segundos
        </div>
    </div>
</div>

