
.countdown-container{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.countdown-container .time-container{
    align-items: center;
    background: #fff;
    border-radius: 25px;
    color: #333;
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content:center;
    width: 20%;
    box-shadow: 1px 2px 4px rgba(0,0,0, .2);
}

.countdown-container .time-container .date{
    font-size: 80px;
    background: linear-gradient(90deg, rgba(82, 30, 135, 0.8) 0%,
    rgba(102, 28, 137, 0.8) 9.87%,
    rgba(138, 23, 140, 0.8) 30.04%,
    rgba(151, 43, 123, 0.8) 36.71%,
    rgba(189, 101, 73, 0.8) 58.41%,
    rgba(217, 144, 37, 0.8) 76.96%,
    rgba(235, 170, 14, 0.8) 91.4%,
    rgba(241, 180, 6, 0.8) 99.97%);
    background-clip: text;
    color: transparent;
}

hr{
    background: #000;
    width: 90%;
    height: 1px;
}

.countdown-container .time-container .date-text{
    font-size: 25px;
    font-style: italic;
}