<main class="main p-pt-5 p-px-2">
  <div class="p-grid p-jc-center">
    <div class="p-col-12 p-md-4 p-lg-4 nested">
      <p-accordion class="mobile">
        <div class="p-grid">
          <div class="p-col-12">
            <p-accordionTab header="Comunidades">
              <app-communities></app-communities>
              <button pButton
                      pRipple
                      class="btn-comfeco"
                      label="Ver más"
                      routerLink="..">
              </button>
            </p-accordionTab>
          </div>
          <div class="p-col-12">
            <p-accordionTab header="Talleres">
              <p-scrollPanel styleClass="custombar">
                <app-workshops></app-workshops>
              </p-scrollPanel>
              <button pButton
                      pRipple
                      class="btn-comfeco"
                      label="Ver más"
                      routerLink="..">
              </button>
            </p-accordionTab>
          </div>
        </div>
      </p-accordion>
      <p-accordion class="widget">
        <div class="p-grid">
          <div class="p-col-12">
            <p-accordionTab header="Comunidades" [selected]="true">
              <app-communities></app-communities>
              <button pButton
                      pRipple
                      class="btn-comfeco"
                      label="Ver más"
                      routerLink="..">
              </button>
            </p-accordionTab>
          </div>
          <div class="p-col-12">
            <p-accordionTab header="Talleres" [selected]="true">
              <p-scrollPanel styleClass="custombar">
                <app-workshops></app-workshops>
              </p-scrollPanel>
              <button pButton
                      pRipple
                      class="btn-comfeco"
                      label="Ver más"
                      routerLink="..">
              </button>
            </p-accordionTab>
          </div>
        </div>
      </p-accordion>
    </div>
    <div class="communities p-lg-3 p-xl-fixed">
      <p-card>
        <ng-template pTemplate="header">
          <div class="p-card-header">
            <h4 class="p-text-bold">Comunidades</h4>
          </div>
        </ng-template>
        <ng-template pTemplate="footer">
          <button pButton
                  pRipple
                  class="btn-comfeco"
                  label="Ver más"
                  routerLink="..">
          </button>
        </ng-template>
        <app-communities></app-communities>
      </p-card>
    </div>
    <div class="p-col-12 p-md-8 p-lg-8 p-xl-6 vh-80 p-text-center">
      <router-outlet></router-outlet>
    </div>
    <div class="workshops p-lg-3 p-xl-fixed">
      <p-card>
        <ng-template pTemplate="header">
          <div class="p-card-header">
            <h4 class="p-text-bold">Talleres</h4>
            <p-tag value="Hoy" [rounded]="true"></p-tag>
          </div>
        </ng-template>
        <p-scrollPanel styleClass="custombar">
          <app-workshops></app-workshops>
        </p-scrollPanel>
        <ng-template pTemplate="footer">
          <button pButton
                  pRipple
                  class="btn-comfeco"
                  label="Ver más"
                  routerLink="..">
          </button>
        </ng-template>
      </p-card>
    </div>
  </div>
</main>
