.workshops {
  display: none;
}

.communities {
  display: none;
}

.mobile {
  display: none;
}


@media only screen and (min-width: 75em) {
  .workshops {
    display: block;
    margin-top: 8rem;
  }

  .communities {
    display: block;
    margin-top: 8rem;
  }

  .nested {
    display: none;
  }
}

@media only screen and (max-width: 48em) {
  .mobile {
    display: block;
  }

  .widget {
    display: none;
  }
}
