<div class="container-fluid mt-5">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h3 class="mb-3">Terminos y Condiciones</h3>
        </div>
      </div>
    </div>

    <section class="small-section pt-70 pt-xs-40">
        <div class="container relative">
                <div class="count-wrapper mb-60 mb-sm-40">
                        <h2>Terminos</h2>
                        <p>Al Registrar en la aplicación acepta que los datos se utilicén para el bien del usuario manteniendo siempre la privacidad e integridad de la información</p>
                        <h2>Condiciones</h2>
                        <p>Nuestras publicaciones utilizan una licencia Creative Commons que permite el uso de sus contenidos con fines no comerciales, exigiendo sólo la atribución al autor. Esto significa que todos nuestros contenidos, salvo algunas fotos y vídeos, pueden ser usados libremente. Cualquiera puede copiarlos, reproducirlos, distribuirlos y modificarlos, las únicas condiciones que se imponen son:</p>
                        <ul>
                        <li>Que sea con un fin no comercial. Se considera uso comercial su publicación en cualquier página que muestre publicidad o que sirva de soporte a otra actividad como la venta de bienes y servicios.</li>
                        <li>Que se mantenga la atribución original a su autor mediante un enlace directo (sin “nofollow”) a la página individual del sitio donde se publicó dicho contenido originalmente. Si se trata de un medio impreso basta con la mención del nombre del sitio y la url general del mismo (aunque si se puede publicar la url de la noticia se agradece).</li>
                        </ul>
                        <p>Una salvedad, no todas las fotografías y vídeos que usamos son originales nuestras, y sobre las que no lo son, no solemos tener derechos para modificar sus licencias y aplicarles la nuestra, así que no tenemos la potestad para aplicarles la licencia Creative Commons.</p>
                </div>
        </div>
    </section>
</div>