<div class="container-fluid mt-5">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="mb-3">Términos y Condiciones</h2>
        </div>
      </div>
    </div>

    <section class="small-section pt-70 pt-xs-40">
        <div class="container relative">
                <div class="count-wrapper mb-60 mb-sm-40">
                        <h3>Términos</h3>
                        <p>Al registrar en la aplicación acepta que los datos se utilicen para el bien del usuario manteniendo siempre la privacidad e integridad de la información.</p>
                        <h3>Condiciones</h3>
                        <p>Nuestras publicaciones utilizan una licencia Creative Commons que permite el uso de sus contenidos con fines no comerciales, exigiendo sólo la atribución al autor. Esto significa que todos nuestros contenidos, salvo algunas fotos y vídeos, pueden ser usados libremente. Cualquiera puede copiarlos, reproducirlos, distribuirlos y modificarlos, las únicas condiciones que se imponen son:</p>
                        <ul>
                        <li>Que sea con un fin no comercial. Se considera uso comercial su publicación en cualquier página que muestre publicidad o que sirva de soporte a otra actividad como la venta de bienes y servicios.</li>
                        <li>Que se mantenga la atribución original a su autor mediante un enlace directo (sin “nofollow”) a la página individual del sitio donde se publicó dicho contenido originalmente. Si se trata de un medio impreso basta con la mención del nombre del sitio y la url general del mismo (aunque si se puede publicar la url de la noticia se agradece).</li>
                        </ul>
                        <p>Una salvedad, no todas las fotografías y vídeos que usamos son originales nuestras, y sobre las que no lo son, no solemos tener derechos para modificar sus licencias y aplicarles la nuestra, así que no tenemos la potestad para aplicarles la licencia Creative Commons.</p>
                        <h3>Politica de privacidad</h3>
                        <p>La presente política de privacidad establece los términos en que Comfeco usa y protege la información que es proporcionada por sus usuarios al momento de utilizar la aplicación web. Esta compañía está comprometida con la seguridad de los datos del usuario. Cuando le pedimos a usted rellenar el formulario del registro del aplicativo web lo hacemos asegurando su información personal. Sin embargo, esta política de privacidad puede cambiar con el tiempo o ser actualizada, le recordamos y enfatizamos revisar continuamente esta página para asegurarse de los cambios.  </p>
                        <h4>Control de su información personal</h4>
                        <ul>
                        <li>Esta compañía no venderá, cederá ni distribuirá la información personal que es recopilada sin su consentimiento, salvo que sea requerido por un juez con un orden judicial. </li>
                        <li>Comfeco se reserva el derecho de cambiar los términos de la presente Política de Privacidad en cualquier momento.</li>
                        </ul>
                </div>
        </div>
    </section>
</div>