<main class="main" role="main">
  <app-figure></app-figure>
  <div class="p-d-flex p-jc-center p-align-center vh-80">
    <div class="p-col-10">
      <p-card styleClass="p-shadow-7">
        <ng-template pTemplate="header">
          <h2 class="p-pt-3 p-text-center">Términos y Condiciones</h2>
        </ng-template>
        <h4>Términos</h4>
        <p>Al registrarse se acepta el empleo/uso de datos con fines informativos para orientar a los organizadores del evento, siempre respetando y manteniendo la integridad y privacidad de la información proporcionada.</p>
        <h4>Condiciones</h4>
        <p>Nuestras publicaciones emplean una licencia Creative Commons que permite el uso de sus contenidos sin fines de lucro, exigiendo sólo la atribución al autor. Esto significa que todo nuestro contenido, salvo fotos y vídeos, pueden ser usados libremente. Cualquiera puede copiarlos, reproducirlos, distribuirlos y modificarlos, las únicas condiciones de uso son:</p>
        <ul>
          <li>Uso no comercial. Se considera uso comercial su publicación en cualquier página que muestre publicidad y/o emplee otras técnicas de monetización.</li>
          <li>Atribuir derechos de autor mediante un enlace directo (sin “nofollow”) a la página individual del sitio donde se publicó originalmente dicho contenido. Si se trata de un medio impreso basta con proporcionar créditos a la marca (De preferencia, publicar el enlace de origen de la noticia).
          </li>
        </ul>
        <p>Una salvedad, no todas las fotografías y vídeos empleadas son originales, no tenemos derechos de distribución y/o modificación sobre los elementos no originales, por lo que, no tenemos la potestad para aplicar la licencia Creative Commons.</p>
        <h4>Política de privacidad</h4>
        <p>La presente política de privacidad establece los términos en que Comfeco usa y protege la información que es proporcionada por sus usuarios al momento de utilizar la aplicación web. Esta compañía está comprometida con la seguridad de los datos del usuario. Cuando le pedimos a usted rellenar el formulario del registro del aplicativo web lo hacemos asegurando su información personal. Sin embargo, esta política de privacidad puede ser actualizada el tiempo, le recordamos y enfatizamos revisar continuamente esta página para asegurarse de los cambios.</p>
        <h5>Control de su información personal</h5>
        <ul>
          <li>Esta compañía no venderá, cederá, ni distribuirá la información personal que es recopilada sin su consentimiento, salvo que sea requerido por un juez con un orden judicial.</li>
          <li>Comfeco se reserva el derecho de cambiar los términos de la presente Política de Privacidad en cualquier momento realizando la debida notificación a cada uno de los usuarios registrados.</li>
        </ul>
      </p-card>
    </div>
  </div>
</main>
