<footer class="footer_content">
  <div class="content socials">
    <p>Copyright ©2020 Developed by Team 42 Angular</p>
    <div class="conditions">
      <a [routerLink]="['/terminos']" class="terms_link cursor">Terminos y condiciones</a>
    </div>
    <div class="social_media d-flex p-justify-center p-align-center">
      <span class="p-mr-2">Siguenos en las redes </span>
      <div class="social_links p-text-center">
        <a href="#" target="_blank" class="social_icon">
          <img src="https://www.comfeco.com/icons/facebook.svg" alt="Logo Facebook">
        </a>
        <a href="#" target="_blank" class="social_icon">
          <img src="https://www.comfeco.com/icons/discord.svg" alt="Logo Discord">
        </a>
        <a href="#" target="_blank" class="social_icon">
          <img src="https://www.comfeco.com/icons/youtube-icon.svg" alt="Logo Youtube">
        </a>
      </div>
    </div>
  </div>
</footer>
