.creator .creator-content {
  margin: 3rem 0;
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .15);
  border-radius: 10px;
  background-clip: content-box;
}

.angular {
  background-color: #e13237;
  border-color: transparent;
}

.react {
  background-color: #00d8ff;
}

.svelte {
  background-color: #ff3e00;
}

.vue {
  background-color: #41b883;
}

.creator {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.creator .creator-image {
  height: 70%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.creator-container {
  height: 30%;
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
  border-radius: 0 0 10px 10px;
}

.creator-text {
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  margin-top: 2rem;
  text-align: center;
  color: #ffffff;
}

.creator-icon {
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #ffffff;
  top: -30px;
}

.creator-icon img {
  width: 50%;
}

.sponsor-image{
  width: 70px;
  border-radius: 50%;
}

:host ::ng-deep .content_creators .p-carousel-prev,
:host ::ng-deep .content_creators .p-carousel-next {
  display: none !important;
}

:host ::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator button {
  width: 1rem !important;
  height: 1rem !important;
  border-radius: 10px;
}

:host ::ng-deep .p-carousel-next-icon,
:host ::ng-deep .p-carousel-prev-icon{
  font-size: 50px !important;
}

:host ::ng-deep  .p-carousel-next,
:host ::ng-deep .p-carousel-prev{
  width: 50px !important;
  height: 50px !important;
}
