<div class="content_creators">
  <h3>Ellos ya creen en esta iniciativa:</h3>
  <p-carousel [value]="creators"
              styleClass="custom-carousel"
              [numVisible]="4"
              [numScroll]="4"
              [circular]="true"
              autoplayInterval="3500"
              [responsiveOptions]="responsiveCreators">
    <ng-template let-creator pTemplate="item">
      <div class="creator">
        <div class="creator-content">
          <img src="assets/img/creators/{{creator['url']}}" alt="Creator" class="creator-image">
          <div class="creator-container {{creator['technology']}}">
            <span class="creator-text">{{creator['full_name']}}</span>
            <div class="creator-icon">
              <img src="assets/img/creators/{{creator['icon']}}" alt="logo">
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>

<div class="content_sponsors p-mt-6">
  <div class="p-d-flex p-jc-between">
    <div>
      <h4>Sponsors</h4>
    </div>
    <div>
      <button pButton
              pRipple
              type="button"
              label="Apoyar Iniciativa"
              class="btn-comfeco">
      </button>
    </div>
  </div>
  <p-carousel
    [value]="sponsors"
    [numVisible]="8"
    styleClass="p-mt-6"
    [numScroll]="8"
    [circular]="true"
    [responsiveOptions]="responsiveSponsors">
    <ng-template let-sponsor pTemplate="item">
      <div class="sponsor">
        <div class="sponsor-content">
          <a href="#">
            <img src="assets/img/sponsors_oficiales/{{sponsor['url']}}" alt="Sponsor" class="sponsor-image">
          </a>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>

