:host ::ng-deep .tabview-profile i, :host ::ng-deep .tabview-profile span {
  vertical-align: middle;
  color: var(--color-palette-primary);
}

:host ::ng-deep .tabview-profile span {
  margin: 0 .5rem;
}

:host ::ng-deep .p-button {
  margin-right: .25rem;
}

:host ::ng-deep .p-tabview p {
  line-height: 1.5;
  margin: 0;
}

:host ::ng-deep .p-tabview-nav {
  justify-content: center;
  align-content: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

:host ::ng-deep .p-tabview-nav li {
  justify-content: center;
  align-content: center;
  margin-right: 50px;
  margin-bottom: 30px;
  
}

:host ::ng-deep .p-tabview-nav li a {
  border: 0 !important;
}

:host ::ng-deep .p-tabview-nav > li > a:hover {
  border-bottom: 2px solid var(--color-palette-secondary) !important;
  
}

:host ::ng-deep .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus{
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem var(--color-palette-secondary);
}


@media screen and (max-width: 500px) {
  :host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    font-size: 12px;
    padding: 0.5rem;
  }

  :host ::ng-deep .tabview-profile span {
    font-size: 11px;
  }
}

