<p-tabView styleClass="tabview-profile">
  <p-tabPanel>
    <ng-template pTemplate="header">
      <i class="pi pi-user"></i>
      <span>Mi Perfil</span>
    </ng-template>
    <app-my-profile></app-my-profile>
  </p-tabPanel>
  <p-tabPanel>
    <ng-template pTemplate="header">
      <i class="pi pi-star-o"></i>
      <span>Insignias</span>
    </ng-template>
    <app-insignias></app-insignias>
  </p-tabPanel>
  <p-tabPanel>
    <ng-template pTemplate="header">
      <i class="pi pi-users"></i>
      <span>Grupos</span>
    </ng-template>
    <app-groups></app-groups>
  </p-tabPanel>
  <p-tabPanel>
    <ng-template pTemplate="header">
      <i class="pi pi-calendar"></i>
      <span>Eventos</span>
    </ng-template>
    <app-events></app-events>
  </p-tabPanel>
</p-tabView>
