img{
  object-fit: cover;
}

.sponsor-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.sponsor {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 20px 0;
}

.icon-event{
  width: 50px;
  height: 50px;
}

.img-event-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-event-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-logo-card-event{
  padding: 10px;
}

.logo-card-event{
  width: 50px;
  height: 50px;
}

a{
  text-decoration: none;
  color: #2196F3;
}

.share-event{
  position: relative;
  padding: 10px;
  bottom: 0px;
  right: 0px;
  color: #2196F3;
}

.button-reverse:hover{
  color: #2196F3;
  background: #fff;
}

.container-img-bg-card{
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-bg-event-card{
  width: 100%;
}

.card-event{
  width: 40rem;
  padding: 0 10px;
}

.icon-share{
  font-size: 25px;
}

@media screen and (max-width: 600px){
  .card-event{
    width: 100% !important;
  }

  .icons-event{
    display: none;
  }
}
