<div class="p-d-flex p-justify-around p-align-center p-flex-wrap">
  <p-card [style]="{'margin-bottom': '2em', 'box-shadow':'0px 0px 4px rgba(0,0,0, .4)'}"
          class="card-event"
          *ngFor="let i of [].constructor(6)">
    <ng-template pTemplate="header">
      <div class="p-d-flex p-justify-between p-align-center">
        <div class="container-logo-card-event">
          <img class="logo-card-event" src="assets/img/CMFECO-Logo.png" alt="COMFECO">
        </div>
        <div>
          <h3 class="p-text-center">!DUELO DE TITANES!</h3>
        </div>
        <div class="share-event cursor">
          <i class="pi pi-share-alt icon-share" pTooltip="Compartir" tooltipPosition="top"></i>
        </div>
      </div>
    </ng-template>
    <div class="p-py-0">
      <div class="p-mb-2 container-img-bg-card">
        <img class="img-bg-event-card" src="assets/img/bg_event_card.png" alt="Event">
      </div>
      <div class="icons-event p-grid">
        <div class="p-col-12">
          <div class="p-grid">
            <div class="p-col-4 img-event-container">
              <img class="icon-event" src="assets/img/communities/comunidad_coderos.png" alt="">
              <img class="icon-event" src="assets/img/communities/comunidad_programadores.png" alt="">
              <img class="icon-event" src="assets/img/communities/stackly.png"  alt="">
            </div>
            <div class="p-col-4 title-event-container">
              <h3 class="p-m-0">FRAMEWORKS</h3>
            </div>
            <div class="p-col-4 img-event-container">
              <img class="icon-event" src="assets/img/angular.png" alt="">
              <img class="icon-event" src="assets/img/react.png"   alt="">
              <img class="icon-event" src="assets/img/svelte.png"  alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template pTemplate="footer">
      <div class="p-mb-4">
        <h3>Angular</h3>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollt.</p>
      </div>
      <div class="p-grid p-align-center">
        <div class="p-col-6">
          <a href="#">Más Información</a>
        </div>
        <div class="p-col-6">
          <button pButton type="button" class="p-button-raised button-reverse" label="Participar"></button>
        </div>
      </div>
    </ng-template>
  </p-card>
</div>
