img{
  object-fit: cover;
}

a {
  text-decoration: none;
  color: #2196F3;
}

.event-detail {
  min-height: 150px;
}

.icons-event {
  margin-top: 0.5rem;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
}

.sponsor-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.sponsor {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 20px 0;
}

.icon-event {
  width: 40px;
  height: auto;
  border-radius: 50%;
}


.container-logo-card-event {
  margin-bottom: 1rem;
}

.logo-card-event{
  width: 50px;
  height: 50px;
}


.share-event {
  padding: 10px;
  color: #2196F3;
}

.icon-share {
  font-size: 25px;
}


:host ::ng-deep .p-card-content {
  min-height: 70%;
}

:host ::ng-deep .p-card {
  margin-bottom: 1em;
  box-shadow: 0 0 4px rgba(0, 0, 0, .4);
}

:host ::ng-deep .p-card .p-card-header {
  padding: 1rem;
}

@media screen and (max-width: 600px) {
  .icons-event {
    display: none;
  }
}
