<div class="p-grid p-mt-3">
  <div class="p-col-12 p-lg-3 p-xl-fixed p-text-center profile">
    <p-card class="profile-card">
      <div class="p-text-right">
        <a routerLink="editar">Editar perfil</a>
      </div>
      <img [src]="usuario.img | imagen"
           alt="Avatar" class="profile-image">
      <div class="profile-info">
        <h1 class="profile-nickname">{{usuario.userName}}</h1>
        <div class="profile-role">{{usuario.role}}</div>
        <div class="profile-biography p-pt-5">
          <p>{{usuario.bio}}</p>
        </div>
      </div>
      <ng-template pTemplate="footer">
        <p-divider></p-divider>
        <div class="p-d-flex p-jc-between p-align-center">
          <ng-container *ngFor="let i of [].constructor(4)">
            <p-avatar icon="pi pi-star" styleClass="p-mr-2" size="large" shape="circle"></p-avatar>
          </ng-container>
        </div>
      </ng-template>
    </p-card>
  </div>
  <div class="p-col-12 p-lg-6 insignia">
    <p-card header="Insignias" styleClass="insignias-card">
      <ng-container *ngFor="let i of [].constructor(4)">
        <p-avatar icon="pi pi-star" styleClass="insignia-avatar" size="xlarge" shape="circle"></p-avatar>
      </ng-container>
    </p-card>
    <p-card header="Actividad reciente">
      <article class="base-activity">
        <div class="recent-activity">
          <div class="title">
            <h6>
              Te has unido al evento Community Fest and Code
            </h6>
          </div>
          <div class="badge-activity">
            <img src="assets/img/communities/stackly.png" alt="badge">
          </div>
        </div>
      </article>
      <article class="base-activity">
        <div class="recent-activity">
          <div class="title">
            <h6>
              Te has unido al evento Community Fest and Code
            </h6>
          </div>
          <div class="badge-activity">
            <img src="assets/img/communities/stackly.png" alt="badge">
          </div>
        </div>
      </article>
    </p-card>
  </div>
  <div class="p-col-12 p-lg-3 p-xl-fixed events">
    <p-card>
      <ng-template pTemplate="header">
        <div class="p-card-header">
          <h5 class="color-white">Eventos de tu interes</h5>
          <a href="#">Ver más</a>
        </div>
      </ng-template>
      <p-scrollPanel styleClass="custombar">
        <div *ngFor="let event of myEvents">
          <div class="p-grid p-flex-column">
            <div class="p-col">
              <div class="event-card">
                <div class="event-image">
                  <img src="assets/img/{{event['image']}}" alt="image">
                </div>
                <div class="event-content">
                  <h5>{{event['event']}}</h5>
                  <button pButton
                          pRipple
                          class="btn-comfeco"
                          label="Mas información"
                          routerLink="{{event['information']}}">
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </p-scrollPanel>
    </p-card>
  </div>
</div>

