/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

:root {
  --color-palette-primary: #591A80;
  --color-palette-secondary: #EBAB0D;
  --font-logo-family: 'Lato', sans-serif;
}

.swal2-styled.swal2-confirm {
  background-color: var(--color-palette-primary) !important;
}

.swal2-styled.swal2-confirm a{
  background-color: var(--color-palette-primary) !important;
  color: white !important;
  text-decoration: none !important;
}

.btn-comfeco {
  background: var(--color-palette-primary) !important;
  border: 1px solid var(--color-palette-primary) !important;
}

.error{
  padding: 10px
}

.cursor{
  cursor: pointer;
}

.vh-90{
  min-height: 85vh;
}

.vh-100{
  min-height: 100vh;
}
